<!-- <div *ngIf="dogWeight < 10" class="validation-error">{{dogName}} is underweight</div> -->
<div class="content-container">
  <div class="form">
      <mat-form-field>
          <textarea matInput [(ngModel)]="company_id" placeholder="Company Id"></textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="name" placeholder="Name"></textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="adrress" placeholder="Adrress"></textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="country" placeholder="Country"></textarea>
        </mat-form-field>
        
        
        <button mat-button (click)="submit()" color="primary">Submit</button>
  </div>
  